@charset "UTF-8";
/*Обнуление*/
@import url(./fonts/fontawesome/css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
@font-face {
  font-family: 'Grand Hotel';
  src: url("./fonts/GrandHotel-Regular.otf"); }

h1 {
  font-family: "Grand Hotel";
  color: #fff7b1;
  font-size: 125px; }

h2 {
  color: #d87663;
  font-family: "Grand Hotel";
  font-size: 75px; }

h3 {
  font-size: 31px;
  font-family: Montserrat;
  color: #c2c2c2; }

h4 {
  font-size: 42px;
  font-family: "Grand Hotel";
  color: #ffffff; }

p {
  color: #3a3a3a;
  font-size: 25px;
  font-family: Montserrat;
  line-height: 1.2; }

a {
  color: #c2c2c2;
  font-size: 24px; }

.button {
  font-size: 25px;
  color: #ffffff;
  font-family: Montserrat;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #d87663;
  min-height: 65px;
  padding: 0px 75px;
  font-weight: 700;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.block-main {
  background-image: url(img/bg.jpg);
  background-size: cover;
  min-height: 100vh;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 186px; }

.width-container {
  margin: 0 auto;
  max-width: 1300px; }

.header__wrapper {
  min-height: 85px;
  background-color: rgba(255, 247, 177, 0.75);
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px 15px; }
  .header .navigation__link {
    font-family: Montserrat;
    font-size: 25px;
    color: #000000;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    border-bottom: 2px solid transparent; }
    .header .navigation__link:hover {
      border-color: black; }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px 50px; }

.header__logo {
  margin-right: 15px; }

.block-main__info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0px 15px;
  cursor: context-menu; }

@-webkit-keyframes title {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes title {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes text {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes text {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes button {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes button {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
  .block-main__info .button {
    -webkit-animation: button 1.3s 1 ease-in-out;
    animation: button 1.3s 1 ease-in-out; }
  .block-main__info h1 {
    margin-bottom: 40px;
    font-size: 125px;
    -webkit-animation: title 1.3s 1 ease-in-out;
    animation: title 1.3s 1 ease-in-out; }
  .block-main__info p {
    font-size: 30px;
    color: #fff7b1;
    max-width: 710px;
    margin-bottom: 38px;
    -webkit-animation: text 1.3s 1 ease-in-out;
    animation: text 1.3s 1 ease-in-out; }

@media (max-width: 907px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header ul {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .header__logo {
    margin-bottom: 10px; }
  .block-main__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; } }

@media (max-width: 660px) {
  .block-main__info {
    padding: 25px 10px 40px; }
    .block-main__info h1 {
      font-size: 100px; }
    .block-main__info p {
      font-size: 25px; } }

@media (max-width: 506px) {
  .block-main__info h1 {
    font-size: 75px; }
  .button {
    padding: 0px 40px;
    width: 100%; } }

@media (max-width: 384px) {
  .block-main__info h1 {
    font-size: 67px; }
  .block-main__info p {
    font-size: 21px; } }

@media (max-width: 345px) {
  .block-main__info h1 {
    font-size: 57px; } }

.block-menu {
  background: url(img/pizza.png) left top -13px no-repeat, url(img/cola.png) bottom -80px left -14px no-repeat, url(img/free.png) top 32px right -23px no-repeat, url(img/chicken.png) bottom -10px right -55px no-repeat, #fff7b1; }

.blok-menu__wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 60px 10px; }

.block-menu__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  cursor: context-menu; }
  .block-menu__text p {
    max-width: 700px;
    margin: 42px 0px 40px; }

.menu-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 105px; }

.menu-cards__card {
  max-width: 285px;
  cursor: pointer; }
  .menu-cards__card:hover .menu-cards__img {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .menu-cards__card:hover .menu-card__info {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-shadow: 0 0 100px #d8766373;
    box-shadow: 0 0 100px #d8766373; }
  .menu-cards__card img {
    width: 100%; }

.menu-cards__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-box-shadow: 0 0 100px #d8766373;
  box-shadow: 0 0 100px #d8766373; }

.menu-card__info {
  background-color: #d87663;
  color: #ffffff;
  font-family: Montserrat;
  text-align: center;
  padding: 9px 0px 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
  -webkit-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  transform: translateY(-80px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .menu-card__info h3 {
    font-size: 42px;
    font-family: "Grand Hotel"; }
  .menu-card__info span {
    font-size: 17px;
    margin-top: 15px;
    display: block; }

@media (max-width: 1080px) {
  .menu-cards {
    gap: 55px; }
  .menu-cards__img {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  .menu-card__info {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); } }

@media (max-width: 764px) {
  .block-menu {
    background-size: 35%; }
  .menu-cards {
    gap: 45px; } }

.block-dish {
  background-image: url(img/bg2.jpg);
  background-size: cover;
  background-position: 50%; }

.block-dich__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 75px 15px 75px 15px; }

.block-dish__img {
  max-width: 472px;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5); }
  .block-dish__img img {
    width: 100%; }

.block-dish__text {
  margin-left: 155px; }
  .block-dish__text h2 {
    font-size: 125px; }
  .block-dish__text p {
    font-size: 30px;
    max-width: 573px;
    margin: 35px 0px 73px; }

@media (max-width: 1115px) {
  .block-dish__text {
    margin-left: 100px; }
    .block-dish__text h2 {
      font-size: 110px; }
    .block-dish__text p {
      font-size: 27px; } }

@media (max-width: 1014px) {
  .block-dish__text {
    margin-left: 60px; }
    .block-dish__text h2 {
      font-size: 90px; }
    .block-dish__text p {
      font-size: 20px; } }

@media (max-width: 700px) {
  .block-dich__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px 15px 10px 15px; }
  .block-dish__img {
    max-width: 65%;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
  .block-dish__text {
    text-align: center;
    margin: 0 auto;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px); }
    .block-dish__text h2 {
      font-size: 115px; }
    .block-dish__text p {
      font-size: 25px;
      margin: 18px 0px 40px; }
  .button {
    width: 100%; } }

@media (max-width: 457px) {
  .block-dish__text h2 {
    font-size: 70px; }
  .block-dish__text p {
    font-size: 20px; } }

.block-cook {
  background-color: #d87663;
  background: url(img/pizza2.png) right 100px top 90px no-repeat, url(img/free2.png) left 100px top 90px no-repeat, url(img/chicken2.png) left 30px bottom 15px no-repeat, url(img/cola2.png) right -30px bottom 15px no-repeat, #d87663; }

.block-cook__wrapper {
  padding: 84px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.block-cook__circle {
  width: 218px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%; }
  .block-cook__circle img {
    width: 100%; }

.block-cook__text {
  text-align: center; }
  .block-cook__text p {
    font-size: 45px;
    color: #fff7b1;
    width: 61%;
    margin: 53px auto 70px; }
  .block-cook__text h2 {
    font-size: 75px;
    color: #fff7b1; }

@media (max-width: 855px) {
  .block-cook {
    background: url(img/pizza2.png) right 40px top 90px no-repeat, url(img/free2.png) left 40px top 90px no-repeat, url(img/chicken2.png) left 15px bottom 15px no-repeat, url(img/cola2.png) right -30px bottom 15px no-repeat, #d87663; }
  .block-cook__text p {
    font-size: 35px;
    width: 100%; } }

@media (max-width: 600px) {
  .block-cook {
    background: url(img/pizza2.png) right 10px top 90px no-repeat, url(img/free2.png) left -10px top 90px no-repeat, url(img/chicken2.png) left 15px bottom 15px no-repeat, url(img/cola2.png) right -30px bottom 15px no-repeat, #d87663; }
  .block-cook__text p {
    font-size: 35px; } }

@media (max-width: 444px) {
  .block-cook {
    background: url(img/pizza2.png) right -40px top 90px no-repeat, url(img/free2.png) left -70px top 90px no-repeat, url(img/chicken2.png) left -115px bottom 15px no-repeat, url(img/cola2.png) right -87px bottom 15px no-repeat, #d87663; }
  .block-cook__text h2 {
    font-size: 50px; }
  .block-cook__text p {
    font-size: 24px; } }

.block-subscribe {
  background-image: url(img/bg2.jpg);
  background-size: cover;
  background-position: 50%; }

.block-subscribe__wrapper {
  max-width: 40%;
  padding: 170px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }
  .block-subscribe__wrapper form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border-radius: 4px 0 0 4px;
    gap: 10px 10px; }
    .block-subscribe__wrapper form .button {
      padding: 0px 36px; }
  .block-subscribe__wrapper input {
    height: 63px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 4px 0 0 4px;
    padding: 30px;
    font-size: 25px; }
    .block-subscribe__wrapper input:focus {
      -webkit-box-shadow: #d87663 1px 0px 7px 0px;
      box-shadow: #d87663 1px 0px 7px 0px; }
    .block-subscribe__wrapper input::-webkit-input-placeholder {
      font-size: 25px;
      color: #000000;
      opacity: 0.5; }
    .block-subscribe__wrapper input:-ms-input-placeholder {
      font-size: 25px;
      color: #000000;
      opacity: 0.5; }
    .block-subscribe__wrapper input::-ms-input-placeholder {
      font-size: 25px;
      color: #000000;
      opacity: 0.5; }
    .block-subscribe__wrapper input::placeholder {
      font-size: 25px;
      color: #000000;
      opacity: 0.5; }

.block-subscribe__text {
  text-align: center; }
  .block-subscribe__text p {
    font-size: 30px;
    margin: 30px 0px 48px; }

@media (max-width: 700px) {
  .block-subscribe__wrapper {
    max-width: 100%; }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .form input {
      width: 100%; } }

@media (max-width: 637px) {
  .block-subscribe__wrapper {
    padding: 40px 15px; } }

@media (max-width: 444px) {
  .block-subscribe__text p {
    font-size: 20px; }
  .block-dish__text {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); } }

.footer {
  background-color: #222222; }

.footer__wrapper {
  padding: 40px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 48px; }

.footer__info {
  max-width: 41%;
  margin-right: 52px;
  cursor: default; }
  .footer__info p {
    color: #c2c2c2;
    margin-top: 37px; }

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .footer__item h3 {
    margin-bottom: 37px;
    cursor: default; }

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.footer__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  line-height: 1.75; }
  .footer__link a:hover {
    color: white;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
    .footer__link a:hover .icon {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      transition: 0.2s ease; }

.icon {
  width: 29px;
  height: 29px;
  background-color: white;
  border-radius: 50%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

@media (max-width: 770px) {
  .footer__info {
    text-align: center;
    max-width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px; } }

@media (max-width: 620px) {
  .footer__info {
    text-align: center;
    max-width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px; }
  .footer__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto; }
  .footer__nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media (max-width: 444px) {
  .footer__info p {
    font-size: 20px; }
  .footer__item h3 {
    margin-bottom: 15px; } }
